<h1 class="title animated jackInTheBox">{{ title }}</h1> <!--chamo a variável title passada pelo AppComponent-->
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p *ngIf="todos.length == 0" class="text-center">
    <small>Você não tem tarefas hoje!</small>
  </p>
  <!--faço um for para exibir cada item da lista todos-->
  <li *ngFor="let todo of todos">
    {{ todo.id }}. {{ todo.task }}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)" title="Concluir Tarefa"><i class="far fa-check-circle"></i></button>
    <!--faço um if para remover o botão concluir 'se' ainda for false e uso um binding de evento para chamar o método-->
    <button *ngIf="todo.done" (click)="markAsUndone(todo)" title="Refazer Tarefa"><i class="fas fa-check-circle"></i></button>
    <!--faço um if para exibir o botão refazer 'se' for true e uso um binding de evento para chamar o método -->
    <button (click)="remove(todo)" title="Excluir Tarefa"><i class="far fa-trash-alt"></i></button>
  </li>
</ul>
<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <form [formGroup]="form"> <!--referencio a variável form do tipo FormGroup -->
      <h3 class="text-center">Nova Tarefa: </h3>
      <input type="text" placeholder="insira sua tarefa" maxlength="60" formControlName="task">
      <small *ngIf="form.controls.task.invalid && !form.controls.task.pristine" class="danger"> Este campo deve ter entre 3 e 60 caracteres </small>
      <p class="text-center">
        <button [disabled]="form.invalid" (click)="add()" class="button"><i class="fa fa-save"></i> Salvar</button>
      </p>
  </form>
</div>
<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>